#logos-imge-signup{
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 45%;
}
#logos-imge-signup img{
   
    width: 100%;
}
#signup-container{
    width: 100%;
}
#signup-body{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    width: 30%;
    margin: auto;
    padding: 20px;
}
#signup-head{
    margin-left: 35px;
}
p{
    margin: 25px 0;
}
#info-inpu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 45px;
}
.inputs{
    margin: 20px 0;
    width:70%

    
}
.inputs input{
        width: 100%;
        height: 35px;
    border: 0.5px solid gray;
    margin-top: 6px;
}
.inputs input[type=submit]{
    background-color: #ee1144;
    color: white;
    font-size: 14px;
    border-radius: 7px;
}
.inputs input[type=submit]:hover{
    background-color: #970527;
}
#signup-social{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
#signup-social img{
    width: 40px;
    height: 40px;
    border-radius: 7px;
}